    * {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        background: darkred;
        padding: 20px;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    img {
        width: 100vw;
    }

    a:hover {
        background-color: red;
    
    }

